{% extends model('component') %}

{% define config = {
    name: 'camera-modal',
    tag: 'camera-modal'
} %}

{% block body %}

    <div id="modal-1" style="display: none;" class="modal-overlay">
        <div class="modal-content">
            <div class="modal-header">
                <span class="closeBtn" id="closeBtn">X</span>
                <h2>Capture your picture</h2>
            </div>
            <div class="modal-body">
                <div id="modal-1-content">
                    <div class="video-container">
                        <video id="camera" autoplay></video>
                    </div>
                    <canvas id="canvas" style="display: none;"></canvas>
                    <div>
                        <button id="captureBtn" class="button button--hollow button--expand-sm-only spacing-top spacing-top--big" type="button">Capture Image</button>
                    </div>
                    <form name="image_upload_form" method="post" novalidate="novalidate" enctype="multipart/form-data">
                           <input id="image_upload_form_image" name="image_upload_form[image]" required="" class="input input--expand" type="file" placeholder="snapfind.image" style="visibility: hidden; display: none">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
